<ion-view view-title="Details" ng-controller="DetailCtrl" >

  </ion-nav-buttons>
          <ion-content>

          <div class="list card">

  <div class="item item-avatar center indent">

<div id="detailFleurs">
    <p ng-hide="flower.properties.espece" ><img src='img/flower2.png' alt='Flower'  width='25' height='25'/>Espèce : ce champ n'a pas été saisi</p>


    <h2 style="text-indent:-20px;"><img  ng-show="flower.properties.espece" src='img/flower2.png' alt='Flower'  width='25' height='25'/>{{flower.properties.espece.NOMC}}</h2>
    <p style="font-style: italic;">{{flower.properties.espece.NOML}}</p>
</div>


    <p><i id="author" style="color: blue;" class="icon  ion-ios-location"></i> {{flower.properties.commune.properties.NAME}}</p>
    <p><i id="author" class="icon ion-person iconsize balanced"></i> {{flower.properties.user.pseudo}}</p>
  <p>{{flower.properties.createdOn | date:'fullDate'}}</p>
  </div>

  <div class="item center">
    <img src="{{urlImg+flower.properties.image}}" width='80%'>
  </div>


</div>
    <!--         <div class="list card">
                <div class="item">
                    <h2>{{flower.properties.espece.NOMC}}sda</h2>
                    <p class="state">{{}}</p>
                </div>
                <div class="item item-body">

                    <img class="small-image" src="{{urlImg+flower.properties.image}}">
                  <p class="titledescr">Description of the issue :</p>
                  <p class="descr">{{}}</p>
                  <p>
                    <a href="" class="subdued">
                    <i id="author" class="icon ion-person iconsize"></i>  {{issue.owner.name}}</a>
                  </p>
                  <p>
                    <a href="" ng-class="{colorred: !custom}" class="subdued" ng-click="toggleCustom()">
                      <i class="icon ion-chatbox"></i> {{}} comments</a>
                    <a href="" class="subdued" ng-click="goToIssueMap()">
                    <i class="icon ion-android-globe iconsize"></i> See on map</a>
                  </p>
                </div>
            </div>
            <div ng-hide="custom">
                <div class="card item topcolor comment"> <textarea ng-model="commentAdd.text" placeholder="Write here"></textarea>
                  <button class="send button button-block button-outline button-positive" ng-hide="!commentAdd.text"  ng-click='postComment()'>Send</button>
                </div>
            <div class="card item topcolor comment" ng-repeat="comment in issue.comments | orderBy: '-postedOn'"  class="item-thumbnail-left" >
                 <p class="text">"{{}}"</p>
                 <p class="descr">Written by : {{}}</p>

                 <p class="date">{{}}</p>
            </div>
            </div> -->
        </ion-content>
</ion-view>

