<ion-view view-title="Chasse aux fleurs">
    <ion-content>
        <ion-list ng-controller="listFlowers" can-swipe="listCanSwipe" class="listFlowers">

                    <ion-item class=" item item-thumbnail-left">
                <img src='img/coq.jpg' />
                <p>Coquelicot</p>
                <div class="votes">  <i class="ion-checkmark-circled balanced"></i> 5/5 </div>
                <div class="goVotes">Autres propositions...</div>
                <ion-option-button class="button-balanced" ng-click="edit(item)">
                    Valider
                </ion-option-button>
            </ion-item>
                    <ion-item class=" item item-thumbnail-left">
                <img src='img/jonq.jpg'/>
                <p>Jonquille</p>
                <div class="votes"> <i class="ion-record positive"></i> 4/5 </div>
                <div class="goVotes">Autres propositions...</div>
                <ion-option-button class="button-balanced" ng-click="edit(item)">
                    Valider
                </ion-option-button>
            </ion-item>
                    <ion-item class=" item item-thumbnail-left">
                <img src='img/margu.jpg'  />
                <p>Marguerite commune</p>
                <div class="votes"><i class="ion-record positive"></i> 3/5 </div>
                <div class="goVotes">Autres propositions...</div>
                <ion-option-button class="button-balanced" ng-click="edit(item)">
                    Valider
                </ion-option-button>
            </ion-item>
                    <ion-item class=" item item-thumbnail-left">
              <img src='img/fleur8.jpg'  />
                <p>Orchis pyramidal</p>
                <div class="votes"><i class="ion-record energized"></i> 2/5  </div>
                <div class="goVotes">Autres propositions...</div>
                <ion-option-button class="button-balanced" ng-click="edit(item)">
                    Valider
                </ion-option-button>
            </ion-item>
                        <ion-item class=" item item-thumbnail-left">
                <img src='img/campanule.jpg'  />
                <p>-</p>
                <div class="votes"><i class="ion-record assertive"></i> 0/5  </div>
                <div class="goVotes">Autres propositions...</div>
                <ion-option-button class="button-balanced" ng-click="edit(item)">
                    Valider
                </ion-option-button>
            </ion-item>
        </ion-list>
        <!-- <div class="list listFlowers">

    <a class="item item-thumbnail-left" href="#">
      <img src='img/fleur8.jpg' width='35' height='55'/>

      <p>Pretty Hate Machine</p>
      <div class="votes"> Fiabilité 3/5  </div>

      <div class="goVotes">Autres propositions...</div>

    </a>




</div> -->
        <ion-content>
</ion-view>
