<ion-view view-title="Login" name="login-view">

 <ion-nav-bar class=" hide bar-stable">
 </ion-nav-bar>


  <ion-content>


      <img style="  display: block;margin-left: auto; margin-right: auto;" src="img/ban2.png" alt="banière">
  <form name="loginForm">
      <div class="list list-inset">
          <label class="item item-input">
              <input type="email" placeholder="Email" required="required" ng-model="user.email">
          </label>
          <label class="item item-input">
              <input type="password" placeholder="Password"  required="required" ng-model="user.password">
          </label>
          <p ng-show="errorLogin" style="color :red"> {{errorLogin}}</p>
      </div>
    </form>
      <button class="button button-block button-calm" style="background-color:#2c84cb;"ng-disabled="loginForm.$invalid" ng-click="login()">Login</button>

       <button class="button button-block button-assertive" ng-click="goRegister()">Register</button>

  </ion-content>


</ion-view>