<ion-view view-title="Login" name="login-view">
<ion-nav-back-button class="hide"></ion-nav-back-button>
  <ion-content class="padding">
  <form name="loginForm">
      <div class="list list-inset">
          <label class="item item-input">
              <input type="email" placeholder="Email" required="required" ng-model="user.email">
          </label>
          <label class="item item-input">
              <input type="password" placeholder="Password"  required="required" ng-model="user.password">
          </label>
          <p ng-show="errorLogin" style="color :red"> {{errorLogin}}</p>
      </div>
    </form>
      <button class="button button-block button-calm" ng-disabled="loginForm.$invalid" ng-click="login()">Login</button>

       <button class="button button-block button-assertive" ng-click="goRegister()">Register</button>
      <!--  <img src="img/ban.png" alt="banière"> -->
  </ion-content>


</ion-view>