<ion-view   ng-controller="MapCtrl">
  <ion-nav-buttons>

  <div><i id="author" class="icon ion-person iconsize"></i> {{currentUser.pseudo}}
    <p style="font-style: italic; font-size:10px;"> {{currentUser.email}}</p></div>

    </ion-nav-buttons>
    <ion-nav-buttons side="secondary">
        <button type="button" ng-controller="LogoutCtrl" ng-click="logOut(); stopGeo();" class="button"><i class="icon ion-power"></i></button>
    </ion-nav-buttons>
    <ion-content class="padding" scroll="false">
        <div id="map">
            <leaflet data-tap-disabled="true" defaults="defaults" markers="markers" center="center" maxbounds="maxbounds" height="100%"></leaflet>
        </div>
        <div class="locate" ng-show="geolocLoad">
            <i class="fa fa-spinner fa-spin" style="font-size:1.4em;">
    </i>
        </div>
        <div class="locate" ng-show="geolocOn" ng-click="stopGeo()">
            <i class="fa fa-map-marker" style="font-size:1.6em; color:#fc8428;">
    </i>
        </div>
        <div class="locate" ng-show="geolocOff" ng-click="startGeo()">
            <i class="fa fa-map-marker" style="font-size:1.6em;">
    </i>
        </div>
        <div ng-controller="PhotoCtrl" id="newFleurs" ng-show="geolocOn" ng-click="getPhoto()" class="buttonMap">
            <button id="b1map" class="button button-full button-calm">
                <img  align="-10px" src='img/flowerblanc.png' alt='-'  width='25' height='25'/>Ajouter une nouvelle fleur<img   src='img/flowerblanc.png' alt='-'  width='25' height='25'/>
            </button>
        </div>
    </ion-content>
</ion-view>
