<ion-view view-title="Register" name="register-view">
  <ion-content >
  <form name="registerForm">
      <div class="list">
          <label class="item item-input item-stacked-label">
            <span class="input-label">Email</span>
              <input type="text" placeholder="john@suhr.com" ng-model="user.email">
          </label>
          <label class="item item-input item-stacked-label">
            <span class="input-label">Pseudo</span>
              <input type="text" placeholder="suhr98" ng-model="user.pseudo">
          </label>
          <label class="item item-input item-stacked-label">
            <span class="input-label">Password</span>
              <input type="password" placeholder="Password" ng-model="user.password">
          </label>
      </div>

    <button id="buttonLogin" ng-click="register()" class="button buttonLogin button-block button-assertive">
        Inscription
    </button>
</form>
  </ion-content>
</ion-view>