<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.ionicframework.myapp427742" version="0.0.8" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">


  <name>GeoFleurs</name>
  <description>
        Gélocalisation de fleurs dans le canton de Vaud (CH)
    </description>
  <author email="plombf@gmail.com" href="http://florentplomb.cf/">
      Florent Plomb
    </author>
  <content src="index.html"/>
  <access origin="*"/>

  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
<preference name="android-minSdkVersion" value="10" />

  <preference name="BackupWebStorage" value="none"/>
  <preference name="SplashScreen" value="screen"/>
  <preference name="SplashScreenDelay" value="3000"/>
  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>
  <platform name="android">

    <icon src="www/img/logo.png" density="ldpi"/>
    <icon src="www/img/logo.png" density="mdpi"/>
    <icon src="www/img/logo.png" density="hdpi"/>
    <icon src="www/img/logo.png" density="xhdpi"/>
    <icon src="www/img/logo.png" density="xxhdpi"/>
    <icon src="www/img/logo.png" density="xxxhdpi"/>
    <splash src="www/img/logoStart.png" density="land-ldpi"/>
    <splash src="www/img/logoStart.png" density="land-mdpi"/>
    <splash src="www/img/logoStart.png" density="land-hdpi"/>
  <splash src="www/img/logoStart.png"  density="land-xhdpi"/>
    <splash src="www/img/logoStart.png"  density="land-xxhdpi"/>
    <splash src="www/img/logoStart.png"  density="land-xxxhdpi"/>
    <splash src="www/img/logoStart.png"  density="port-ldpi"/>
    <splash src="www/img/logoStart.png"  density="port-mdpi"/>
    <splash src="www/img/logoStart.png"  density="port-hdpi"/>
    <splash src="www/img/logoStart.png"  density="port-xhdpi"/>
    <splash src="www/img/logoStart.png"  density="port-xxhdpi"/>
    <splash src="www/img/logoStart.png"  density="port-xxxhdpi"/>
  </platform>
</widget>

