<div class="popup">
    <div class="popup-head">
    	<h3 class="popup-title">Pas de problème !</h3>
    </div>
      <div class="popup-body"><span>Votre saisie sera publiée et vous ou une autre personne pourra completer le nom de cette fleur par la suite</span>
    </div>
    <div class="popup-buttons">
        <button class="button  button-stable" ng-click="closeThisDialog(); yesIknowEsp(); ">
          Publier
        </button>
          <button class="button  button-positive" ng-click="closeThisDialog();  noIDontknowEsp();">
           Annuler
        </button>


    </div>
</div>
