
<div class="popup">
    <div class="popup-head">
        <h3 class="popup-title">Géolocalisation impossible</h3>
    </div>
    <div class="popup-body">
        <div>Cette option est nécessaire pour poster une photo.</div>
        <span>Activer le GPS , préférer les endroits dégagés. </span>
        <div style=" margin-top : 10px ; font-weight: bold;">Voulez-vous réessayer ?</div>
    </div>
    <div class="popup-buttons">
        <button class="button  button-stable" ng-click="closeThisDialog(); stopGeo(); ">
            Non
        </button>
          <button class="button  button-positive" ng-click="closeThisDialog(); startGeo();">
            Oui
        </button>


    </div>
</div>
