<div class="popup">
    <div class="popup-head">
        <h3 class="popup-title">Selectionnez l'espèce observée </h3>
    </div>
    <div class="popup-body">
        <form name "espForm" >
            <div ng-controller="PhotoCtrl">
                <div  style="text-align:left;">
                    <angucomplete-alt template-url="template" id="ex1" input-changed="inputChanged" input-class="{{valideEsp}}" description-field="NOML" placeholder="( min. 3 lettres ) Nom commun ou latin"  selected-object="selectEsp" local-data="espNames" search-fields="NOMC,NOML" title-field="NOMC" minlength="3" match-class="highlight" />
                </div>
                <p ng-hide="selEsp" style="color : red ; font-size: 10px; margin-left: 3px ; text-align:left;">*Veuillez séléctioner une espèce présente dans la liste</p>
                <h3> Espèce séléctionée  </h3>
                <div id="selectedEsp" class="item sel">
                    <div>
                        <h4><img  src='img/flower2.png' alt='Flower'  width='16' height='25'/>
                            <span ng-hide="selectEsp.originalObject.NOMC"> - </span> {{selectEsp.originalObject.NOMC}} </h4>
                    </div>
                    <div>
                        <p style="font-style: italic;"> {{selectEsp.originalObject.NOML}}</p>
                    </div>
                    <div>
                        <h4><i style="color: blue;" class="icon  ion-ios-location"></i> {{newCommune[0].properties.NAME}}  </h4>
                    </div>
                </div>
            </div>
            <div style="margin-top: 12px" ng-click="afficherImg ? afficherImg = false : afficherImg = true ">
                <button class="button button-small  button-stable" ng-hide="afficherImg">
            Afficher photo
                </button>

                  <button class="button button-small  button-stable" ng-hide="!afficherImg">
            Masquer photo
                </button>
            </div>
            <img ng-hide="!afficherImg" src="{{UrlnewImg}}" width="100%" />
        </form>
    </div>
    <div class="popup-buttons">
        <button class="button  button-stable" ng-click="closeThisDialog(); resetflower(); ">
           Annuler
        </button>
        <button class="button  button-positive" ng-disabled="!selEsp" ng-click="closeThisDialog();  publish();">
            Publier
        </button>
    </div>
</div>
<script type="text/ng-template" id="template">
    <div class="angucomplete-holder" ng-class="{'angucomplete-dropdown-visible': showDropdown}">
        <label class="item item-input">
            <i class="icon ion-search placeholder-icon"></i>
            <input autofocus id="{{id}}_value" ; name={{inputName}} ng-class="{'angucomplete-input-not-empty': notEmpty}" ng-model="searchStr" ng-disabled="disableInput" type="{{type}}" placeholder="{{placeholder}}" maxlength="{{maxlength}}" ng-focus="onFocusHandler()" class="{{inputClass}}" ng-focus="resetHideResults()" ng-blur="hideResults($event)" autocapitalize="off" autocorrect="off" autocomplete="off" ng-change="inputChangeHandler(searchStr)" />
        </label>
        <div id="{{id}}_dropdown" class="angucomplete-dropdown" ng-show="showDropdown">
            <div class="angucomplete-searching" ng-show="searching" ng-bind="textSearching"></div>
            <div class="angucomplete-searching" ng-show="!searching && (!results || results.length == 0)" ng-bind="textNoResults"></div>
            <div class="angucomplete-row" ng-repeat="result in results" ng-click="selectResult(result)" ng-mouseenter="hoverRow($index)" ng-class="{'angucomplete-selected-row': $index == currentIndex}">
                <div ng-if="imageField" class="angucomplete-image-holder">
                    <img ng-if="result.image && result.image != ''" ng-src="{{result.image}}" class="angucomplete-image" />
                    <div ng-if="!result.image && result.image != ''" class="angucomplete-image-default"></div>
                </div>
                <div class="angucomplete-title" ng-if="matchClass" ng-bind-html="result.title"></div>
                <div class="angucomplete-title" ng-if="!matchClass">{{ result.title }}</div>
                <div ng-if="matchClass && result.description && result.description != ''" class="angucomplete-description" ng-bind-html="result.description"></div>
                <div ng-if="!matchClass && result.description && result.description != ''" class="angucomplete-description">{{result.description}}</div>
            </div>
        </div>
    </div>
</script>
