
html, body {
  height: 100%;
  width: 100%;
}


#selectedEsp{

background-color: #fff;

}
#map {

	height: 100%;

  }

h2 {
  text-align: center;
}

form h3 {
  text-align: center ;
  margin-top: 20px;
}


.popNameSelect .popup {
width: 95%;
height: 95%;


}


.popup-body {
text-align: center;
}
.popup-title {
  color:#db5425;

}
.popup-head {

     border-bottom: 2px solid #db5425;
    }

.popNameSelect .popup-head {

    background-color: #e3e5e1;
    }

.highlight {
    color: #ff0000;
}

.validate{
  background-color: blue;
}

.unvalidate{
  background-color: red;
}

.angucomplete-description {
    font-family: 1px;
    font-style: italic;
    color:#8e8e8e;
}


input[type=radio], input[type=checkbox] {
    display:none;

}

input[type=radio] + label:before {
    content: "";
    display: inline-block;
    width: 15px;
    height: 15px;
    vertical-align:-12px;

    background-color: #fff;
    box-shadow: inset 0px 2px 2px rgba(0, 0, 0, .3);
    border-radius: 8px;
    margin: 10px;
    margin-left: 2px;
       padding-bottom: 5px;
}

.center{
  text-align: center;
}


input[type=radio]:checked + label:before {

    background-color: green;
    font-size:1.8em;
    text-align:center;
    line-height:14px;
    text-shadow:0px 0px 3px #eee;
    margin: 10px;
    padding-bottom: 5px;
     margin-left: 2px;
}




 .locate {

    background-color: #fff;
    margin-left: 1px;
    position: absolute;
    padding: 0.5em 1em;
    top: 10px;
    left: 0.4em;
    width: auto;
    color:#696969;
    border-radius: 4px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65);
    border-bottom: medium none;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;


  }

  .leaflet-control-zoom-in, .leaflet-control-zoom-out {
    visibility: hidden;
  }

  .leaflet-control-zoom {
    visibility: hidden;

  }
  .leaflet-control-locate{
   visibility: hidden;
  }

  .leaflet-container .leaflet-control-attribution{
    visibility: hidden;
  }

  #newFleurs {
    position: relative;
    top: -4em;
    left: 0px;
    width: 100%;
  }



.modalDialog {
  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.8);
  z-index: 99999;
  opacity:0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;
}



.modalDialog:target {
  opacity:1;
  pointer-events: auto;
}

.modalDialog > div {
  width: 400px;
  position: relative;
  margin: 10% auto;
  padding: 5px 20px 13px 20px;
  border-radius: 10px;
  background: #fff;
  background: -moz-linear-gradient(#fff, #999);
  background: -webkit-linear-gradient(#fff, #999);
  background: -o-linear-gradient(#fff, #999);
}



.close {
  background: #606061;
  color: #FFFFFF;
  line-height: 25px;
  position: absolute;
  right: -12px;
  text-align: center;
  top: -10px;
  width: 24px;
  text-decoration: none;
  font-weight: bold;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  -moz-box-shadow: 1px 1px 3px #000;
  -webkit-box-shadow: 1px 1px 3px #000;
  box-shadow: 1px 1px 3px #000;
}

.close:hover { background: #00d9ff; }



-webkit-transition: opacity 400ms ease-in;
-moz-transition: opacity 400ms ease-in;
transition: opacity 400ms ease-in;

