
html, body {
    height: 100%;
    width: 100%;
}
#map {

	height: 100%;

}/* Empty. Add your own CSS if you like */

[ng-app]{
    height:100%;
}

#buttonPos {


    padding-top: 0.5em;
    position: absolute;
    top: 1px;
    left: 0.4em;
    width: 0%;
    font-size: 2em;
   color: #ED3232;

}

.leaflet-control {
  visibility: hidden;

}
.leaflet-container .leaflet-control-attribution{
  visibility: hidden;
}

#newFleurs {
      position: relative;
  top: -4em;
  left: 0px;
  width: 100%;
}